@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<ListaEventi Titolo="Lista Eventi Futuri" Eventi="eventiFuturi" OnEventoEliminato="EliminaEventoFuturi" />

<Component1 />

@code {
    private List<Evento> eventiFuturi = new() {
     new Evento { Id = 1, Nome = "Evento 1", Data = DateTime.Now.AddDays(1), Località = "Napoli" },
     new Evento { Id = 2, Nome = "Evento 2", Data = DateTime.Now.AddDays(2), Località = "Roma" },
    };


    private void EliminaEventoFuturi(Evento eventoDaEliminare)
    {
        eventiFuturi.Remove(eventoDaEliminare);
    }
}
