<div class="modal" tabindex="-1" id="@Id">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @if (ChildContent != null)
                {
                    @ChildContent
                }
                else
                {
                    <p>Default content</p>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @onclick="() => OnClose.InvokeAsync()">Close</button>
                <button type="button" class="btn btn-primary"  @onclick="() => OnSave.InvokeAsync()">Save changes</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public string Id { get; set; } = "id";
    [Parameter] public string Title { get; set; } = "Modal title";
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public EventCallback OnSave { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }
}
